body {
	font-family: "Menlo";
	padding: 0; 
	margin: 0;
	background-color:#eee;
}

a:link {
    color: #0ae;
}
a:visited {
    color: #0ae;
}
a:hover {
    color: #0ca;
}
a:active {
    color: #00f;
}

#result {
	width:100%;
	text-align: center;
}

#main {
    width: 100%;
    display: inline-block;
    padding-top:20px;
    padding-bottom:20px;
}

.entry {
	display: inline-block;
	width:45%;
	text-align: center;
	padding:10px;
}

.entry:hover {
	background-color:#ff0;
	cursor:pointer;
}